body {
    background-color: #FF82A9; 
    padding: .25rem;
    font-size: 18px;
    width: 98%;
    margin: 0 auto;
}
nav, footer {
    display: flex;
    background-color: #f2f2f2;
    padding: 0rem 2rem;
    justify-content: space-between;
    width: 100%;
    color: #FFEBE7;
}
nav a {
    color: #FF82A9
}
main {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
}
@media screen and (min-width: 550px) {
    main {grid-template-columns: 1fr;}
}
@media screen and (min-width: 768px) {
    main {grid-template-columns: repeat(2, 1fr);}
}
@media screen and (min-width: 1080px) {
    main {grid-template-columns: repeat(3, 1fr);}
}
@media screen and (min-width: 1280px) {
    main {grid-template-columns: repeat(4, 1fr);}
}
body {
    padding: .25rem;
    font-size: 18px;
    color: #FF82A9;
    background-color: var(--prime);
    width: 98%;
    margin: 0 auto;
}
i.fas {
    padding: 0 .33em;
}
.topnav {
    margin-top: -.25rem;
    padding-bottom: .5rem;
    background-color: #FF82A9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    z-index: 1000;
    width: 100%;
}
a.nav-item {
    position: relative;
    top: 4px;
    text-align: center;
    padding: .75em 0;
    margin: auto 0;
    color: #FAFAFA;
    transition: color 250ms ease-in-out;
}
a.nav-item:hover {
    color: #FAFAFA;
    cursor: pointer;
}
.label {
    font-size: 1rem;
}
.nav-item.trigram {
    display: none;
    text-decoration: none;
    font-size: 2rem;
}

@media screen and (max-width: 767px) {
    .topnav a, .topnav span {display: none;}
    .topnav s.trigram {display:inherit; position:absolute; right:4%; font-size:2em; padding: .25em; background:var(--prime); }
}

@media screen and (max-width: 767px) {
    .topnav.responsive {align-items:center;}
    .topnav.responsive a, .topnav.responsive span {display:inherit;}
    .topnav.responsive a:first-child {margin-top:1em;}
    .topnav.responsive a:not(:last-child) {display:inherit; padding-top:1em;}
    .topnav.responsive a.more {margin-bottom: 1em;}
    .topnav.responsive a.trigram {visibility: hidden; transition: none;}
    .topnav.responsive a.trigram:after {content:'\000D7'; visibility: visible; text-indent: -.5em;}
}

@media screen and (min-width: 768px) {
    .topnav {display: flex; flex-direction: row; justify-content: space-between;}
}

.slideshow {
    background-color: #f2f2f2;
    padding: 1em;
}
.slideshow-wrapper {
    position: relative;
    margin: auto;
}
.slideshow-wrapper img {
    width: 100%;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.captiontext {
    background: rgba(0,0,0,0.4);
    color: #f2f2f2;
    font-size: 22px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.numberof {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.text-center {
    display: flex;
}
.indicator {
    cursor: pointer;
    height: auto;
    width: 25%;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    transition: all 250ms ease-in-out;
    opacity: .5;
}
.indicator img {
    width: 100% !important;
}
.active, .indicator:hover {
    opacity: 1;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media only screen and (max-width: 767px) {
    .slideshow {display: none;}
}
.main-grid {
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 1fr;
}
@media screen and (min-width: 990px) {
    body {width: 96%;}
    .main-grid {grid-template-columns: repeat(4, 1fr);}
}
@media screen and (min-width: 768px) {
    bosy {width: 94%;}
    .main-grid {grid-template-columns: repeat(4, 1fr);}
}
@media screen and (min-width: 990px) {
    body {width: 92%;}
    .main-grid {grid-template-columns: repeat(4, 1fr);}
}
@media screen and (min-width: 990px) {
    body {width: 90%;}
    .main-grid {grid-template-columns: repeat(4, 1fr);}
}
.main-grid-item {
    border-radius: 4px;
    padding: .5em;
    background-color: gray;
}
.thumb {
    padding-bottom: 56%;
    background-size: cover;
    background-position: center center;
    border-radius: 4px 4px 0 0;
}
.one .thumb {background-image: url('https://picsum.photos/600/400?random=1');}
.two .thumb {background-image: url('https://picsum.photos/600/400?random=2');}
.three .thumb {background-image: url('https://picsum.photos/600/400?random=3');}
.four .thumb {background-image: url('https://picsum.photos/600/400?random=4');}
.five .thumb {background-image: url('https://picsum.photos/600/400?random=5');}
.six .thumb {background-image: url('https://picsum.photos/600/400?random=6');}
.seven .thumb {background-image: url('https://picsum.photos/600/400?random=7');}
.eight .thumb {background-image: url('https://picsum.photos/600/400?random=8');}
.nine .thumb {background-image: url('https://picsum.photos/600/400?random=9');}
.ten .thumb {background-image: url('https://picsum.photos/600/400?random=10');}
.eleven .thumb {background-image: url('https://picsum.photos/600/400?random=11');}
.twelve .thumb {background-image: url('https://picsum.photos/600/400?random=12');} 

.card-content {
    padding: 0 .5em, .7em, .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-title {
    margin: 1rem 0 0 0;
    text-transform: uppercase;
    align-self: flex-start;
    color: #FF82A9;
}
.card-text {
    font-size: .80em;
    line-height: 1.2;
    align-self: flex-start;
    color: var #FF82A9;
}
button.card-more {
    background: transparent;
    padding: .45em .7em .4em .7em;
    border-radius: 200px;
    font-size: .7em;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
}
button.card-more, button.card-more:visited{
    color: #FF82A9;
    border: 1.5px solid #FF82A9;
    transition: all 250ms ease-in-out;
}

.modal { 
    display: none;
    position: fixed;
    z-index: 1100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #FF82A9;
}
.modal-content {
    background-color: #FF82A9;
    color: #FAFAFA;
    margin: 1rem auto;
    padding: 1rem;
    width: 92%;
    border-radius: 4px;
    animation: fadein .3s ease-in-out;
}
@keyframes fadein {
    from {transform:scale(.1);}
}
.close {
    color: #f2f2f2;
    font-size: 2.5em;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 4.25%;
    transition: all .2s ease-in;
    text-shadow: 2px 2px 5px #FAFAFA, 
                 -2px -2px 5px #FAFAFA, 
                 2px -2px 5px #FAFAFA, 
                 -2px 2px 5px #FAFAFA;
}
.close:hover, 
.close:focus {
    color: var(--accent);
    text-decoration: none;
    cursor: pointer;
}
.modal-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
}
.eg-text {
    align-self: center;
}
.eg-text h3 {
    margin-top: 0;
    padding-top: 0;
}
.modal-body img {
    margin-bottom: 1.5em;
    width: 100%;
    height: auto;
}
@media screen and (min-width: 1280px) {
    .modal-body {grid-template-columns: 7fr 5fr;}
}

footer {
    background-color: #FF82A9;
    padding: .25rem;
    color: #FAFAFA;
    text-align: center;
}
footer a {
    color: #FAFAFA;
}
footer a:hover {
    color: #FAFAFA;
}